@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
     margin: 0;
     font-family: 'Open Sans', sans-serif;
}
/*****Titles Values*********************/
h1 {     font-size: 2.5em;}
h2 {     font-size: 2em;}
h3 {     font-size: 1.2em;}
/*****Columns Values********************/
.col-0{    width: 100%;}
.col-1{    width: 75%;}
.col-2{    width: 50%;}
.col-3{    width: 33.33%;}
.col-4{    width: 25%;}
.col-6{    width: 16.66%;}
.col-8{    width: 12.5%;}
.col-12{    width: 8.33%;}
/*****Padding Values*********************/
.p-1{    padding: 0.5rem;}
.p-2{    padding: 0.75rem;} 
.p-3{    padding: 1rem;}
.p-4{    padding: 1.5rem;}
.p-5{    padding: 0 10rem;}
.p-6{    padding: 3rem 0;}
/*****Margin Values**********************/
.m-1{    margin: 0.5rem;}
.m-2{    margin: 0.75rem;}
.m-3{    margin: 1rem;}
.m-4{    margin: 1.5rem;}
.m-5{    margin: 0 10rem;}
.m-6{    margin: 3rem auto;}
.m-7{    margin: 1.5rem 0;}
/****Colours Values***********************/
.bg-white{     color: #212529!important;     background-color: RGBA(255,255,255,1)!important;}
.bg-dark{     color: #212529!important;     background-color: #f2f1f1!important;}
.bg_button_cyan{     background-color: #3ba9e0;     outline: auto #3ba9e0;}
.bg_button_grey{     background-color: #212529;     outline: auto #fff;}
/*****************************************/
.siteWith{    max-width: 1100px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}
.shadow{
    box-shadow: 0px 11px 18px 0px rgb(0 0 0 / 15%);
}
.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin: 0 auto;
     display: flex;
}


/******Navigation*************************/
.nav{
    display: inline-block;
}
.nav ul{
    padding-left: 0%;
}
.nav ul li {
    display: inline-block;
    margin-right: 15px;
}
.nav ul li a {
    color:#212529;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav ul li a:hover {
    background-color:#212529;
    color: #fff;
}
.nav ul li ul {
    display:none;
    position:absolute;
    min-width:140px;
    background-color: #fff;
}
.nav ul li:hover > ul {
    display:inline-block;
    font-size: small;
}
.nav ul li ul li {
    position:relative;
    display: block;
    margin-right: 0%;
}
.nav li ul li ul {
    right:-140px;
    top:0px;
}
.selected {
    font-weight: bold;
}
/********HOME***************************/
/******Slider***************************/
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url("https://cdn.shopify.com/s/files/1/1671/3937/files/p4.jpg?v=1613676204");
    height: 690px;
}

.pic01{
    background: url("https://cdn.shopify.com/s/files/1/1671/3937/files/360x760_02_031d8941-a69b-42b4-aa42-c3eb85800058.jpg?v=1613677287");
    background-size: cover;
    background-repeat: no-repeat;
}
.pic02{
    background: url("https://cdn.shopify.com/s/files/1/1671/3937/files/360x760_01_e2f235f6-eeed-4a67-bbb0-19bd977d9031.jpg?v=1613677287");
    background-size: cover;
    background-repeat: no-repeat;
}
.pic03{
    background: url("https://cdn.shopify.com/s/files/1/1671/3937/files/lb08.jpg?v=1613677281");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}
.pic04{
    background: url("https://cdn.shopify.com/s/files/1/1671/3937/files/360x760_01_e2f235f6-eeed-4a67-bbb0-19bd977d9031.jpg?v=1613677287");
    background-size: cover;
    background-repeat: no-repeat;
}
.br-card {
    text-align: center;
    padding: 15px 15px 0;
    left: 0;
    right: 0;
    position: relative;
    top: 40%!important;
}
.category01--home, .category02--home{
    height: 100%;
}
.category01--home h4, .category02--home h4 {
    text-align: center;
    font-size: xx-large;
    color: cyan;
}
.category01--home button, .category02--home button {
    color: #fff;
    background-color: #3ba9e0;
    border-color: transparent;
    min-width: 130px;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.71429;
}
.category01--thumbs{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: end;
}
.category02--thumbs{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: start;
}
.fullwidthCard{
    width: 33.10%;
    margin: auto;
}
.fullwidthCard img{
    width: -webkit-fill-available;
}
.thumbInfo {
    width: 30%;
    padding-left: 30px;
    text-align: center;
    left: 0;
    right: 0;
    position: relative;
    top: 40%!important;
}
.thumbInfo img{
    width: 15%;
    text-align: left;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    border: #212529 solid 2px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
}
.thumbInfo h4 {
    color: #212529;
    letter-spacing: 1px;
    text-transform: inherit;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.71429;
}
.rightBorder{
    border-right: solid 1px #212529;
}
.feed {
    text-align: center;
}
.form{
    margin: 5% 0px;
}
.feed .input {
    max-width: 210px;
    height: 50px;
    border-radius: 7px;
    border: 0;
    outline: auto grey;
    padding-inline: 15px;
    font-size: 16px;
    margin: 5px;
}
.feed .input:focus {
    text-decoration: underline 6px;
    box-shadow: 0 0 50px rgb(255, 255, 255);
    border: 1px solid grey;
}
.feed .input-button, .send .input-button{
    color: #fff;
    min-width: 190px;
    height: 50px;
    border-radius: 7px;
    border: 0;
    padding-inline: 15px;
    font-size: 16px;
    transform: all 200ms;
    padding: 10px 20px;
}
.footer img{
    margin: 0 10px;
}
/*******Style Cards*********************/
.card {
    width: 210px;
    height: 370px;
    background: white;
    padding: 0em 1.5em 1.5em 1.5em;
    border-radius: 6px;
}
.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
}
.card-image:hover {
    transform: scale(0.98);
}
.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}
.category:hover {
    cursor: pointer;
}
.heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}
.heading:hover {
    cursor: pointer;
}
.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}
.name {
    font-weight: 600;
}
.name:hover {
    cursor: pointer;
}
/*****************************************/
.grid-container{
    display: grid;
    grid-template-areas:    'header header header header'
                            'slider slider slider slider'
                            'bannerCat01_Home category01_Home category01_Home category01_Home'
                            'fullwidthCategories fullwidthCategories fullwidthCategories fullwidthCategories'
                            'category02_Home category02_Home category02_Home bannerCat02_Home'
                            'contactBar contactBar contactBar contactBar'
                            'feed feed feed feed'
                            'footer footer footer footer';
    grid-template-columns: auto auto auto auto;
}
.header {
    grid-area: header;
    grid-template-columns: auto auto auto;
    display: grid;
    align-items: center;
    margin: 0 auto;
}
/*************************************************************/
.slider {
    grid-area: slider;
    background-color: azure;
    width: 100%;
}
/*************************************************************/
.bannerCat01_Home{
    grid-area: bannerCat01_Home;
}
.category01_Home {
    grid-area: category01_Home;
} 
/*************************************************************/
.fullwidthCategories {
    grid-area: fullwidthCategories;
    display: flex;
}
/*************************************************************/
.bannerCat02_Home{
    grid-area: bannerCat02_Home;
}
.category02_Home {
    grid-area: category02_Home;
}
/*************************************************************/
.contactBar {
    grid-area: contactBar;
}
/*************************************************************/
.feed {
    grid-area: feed;
}
/*************************************************************/
.footer {    
    grid-area: footer;
}